.tarjeta {
    background-color: blue;
    border: 10px solid black;
    width: 90%;
    margin: 30px;
    align-items: center;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
img {
    width: 300px;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 4px 2px 10px black
}
